<div class="card">
  <div class="card-header">
      {{ pageTitle }}
  </div>

  <div class="card-body"
       *ngIf="employee">

    <div class="row">

      <div class="col-md-8">
        <div class="row">
          <div class="col-md-3">First Name:</div>
          <div class="col-md-6">{{employee.firstName}}</div>
        </div>
        <div class="row">
          <div class="col-md-3">Last Name:</div>
          <div class="col-md-6">{{employee.lastName}}</div>
        </div>
        <div class="row">
          <div class="col-md-3">Email:</div>
          <div class="col-md-6">{{employee.email}}</div>
        </div>
        <div class="row">
          <div class="col-md-3">Phone:</div>
          <div class="col-md-6">{{employee.phone}}</div>
        </div>
        <div class="row">
          <div class="col-md-3">Qualification:</div>
          <div class="col-md-6">{{employee.qualification}}</div>
        </div>
        <div class="row">
          <div class="col-md-3">Designation:</div>
          <div class="col-md-6">{{employee.designation}}</div>
        </div>
        <div class="row">
          <div class="col-md-3">Salary:</div>
          <div class="col-md-6">{{employee.salary}}</div>
        </div>
      
      <div class="row">
          <div class="col-md-3">Languages:</div>
          <div class="col-md-6">{{employee.languages}}</div>
        </div>
        <div class="row">
          <div class="col-md-3">Upload File:</div>
          <div class="col-md-6">{{employee.uploadFile}}</div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-4">
        <button class="btn btn-outline-secondary mr-3"
                style="width:80px"
                [routerLink]="['/emp']"
               >
          <i class="fa fa-chevron-left"></i> Back
        </button>
        <button class="btn btn-outline-primary"
                style="width:80px"
                [routerLink]="['/emp-mvp', employee.id, 'edit']">
          Edit
        </button>
      </div>
    </div>

  </div>
</div>
